<div>
  <h1>About</h1>
  <h2>How to Play</h2>
  <p>The goal of this game is to guess an F1 circuit based on the given hints.</p>
  <p>Hints:</p>
  <ul>
    <li>SZN: The year that the circuit was run on</li>
    <li>WIN: The name of the driver who won at the circuit for the given year</li>
    <li>TNL: The number of words in the name of the circuit</li>
    <li>FIN: The number of drivers who finished at the circuit for the given year</li>
  </ul>
  <p>Given the information, you must guess the name of the circuit, not the name of the grand prix. For example, instead of guessing the Azerbaijan Grand Prix, you would guess Baku City Circuit.<br> If the guess was valid, it will be added to the guesses table that shows you the actual information for the circuit.</p>
  <br>
  <h2>Meet the Team</h2>
  <ul>
    <li>Siddhartha Juluru: A second year Computer Science student with an interest in full stack development and F1</li>
    <li>Aiden Kennedy: A second year Software Engineering student with an interest in Automotive and Aerospace software </li>
    <li>Evan Prizel: A second year Computer Science student with an interest in full stack development and system optimization</li>
  </ul>
</div>
