:host {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
}

table {
  min-width: 80%;
}

.LOWER {
  background-color: #c4392f;
}

.HIGHER {
  background-color: #1cb3c7;
}

.WIN {
  background-color: limegreen;
}
